$circleBg: rgb(54, 54, 54);
.advantages {
    padding-top: 75px;
    padding-bottom: 75px;
}

.advantages__title {
    @include visually-hidden()
}

.advantages__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    grid-column-gap: 30px;
}

.advantages__item {}

.advantages__img {
    border-style: solid;
    border-width: 1px;
    border-color: $circleBg;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 0);
    width: 104px;
    height: 104px;
    position: relative;
}

.advantages__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $circleBg;
    z-index: 10;
}

.advantages__subtitle {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(99, 99, 99);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.111;
}

.advantages__text {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(85, 85, 85);
    line-height: 1.429;
    &::after {
        content: "";
        background-color: rgb(229, 73, 58);
        width: 70px;
        height: 2px;
        display: block;
        margin-top: 20px;
    }
}